// Taapelin tyylit

body { font-family:Helvetica, sans-serif; 
    font-size: 11pt;
}
h1,h2,h3 { font-family:Georgia, serif; color: #144d2a; }
h1 { font-size: 120%; }
h2 { font-size: 110%; }
h3 { font-size: 100%; }
table.tulos {
    border: 2pt outset gray;
    background-color: rgb(239, 237, 199);
    border-collapse: collapse;
}
th,td {
    padding: 4px;
    border-width:1px;	
    border-style:dotted;
    background-color: beige;
}
div.right { float: right; }

// start-sivun tyylit

#wrap {
    white-space: nowrap;
}
#top {
    background-color: #82ac92;
    border-width: 0px;
    padding: 0px;
}
#toptitle {
    font-family:Georgia, serif;
    font-style: italic;
    color: #144d2a;
    font-size: 18pt;
    vertical-align: 18pt;
}
#login {
    display: inline-block;
    vertical-align: 18pt;
    margin-left: 6em; 
}
#bottom {
    border-width: 0px;
    padding: 5px;
    background-color: #144d2a;
    font-size: 75%;
    color: white;
}
#menu {
    border-width: 0px;
    display: inline-block;
    background-color: #82ac92;
    padding: 10px;
    vertical-align: top;
    width: 15em;
}
#content {
    position: relative ; right: 0px;
    border-width: 0px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    word-wrap: break-word;
    width:calc(100% - 20em);

}
ul.menu {
    list-style: none;
    margin-left: 0;
    padding-left: 2em;
    text-indent: -2em;
}
ul.menu li:before {
    content: "\0BB \020";
}
div.note { font-size: 9pt; }

// Vanhoja tyylejä

input { font-size: 90% }
